.filled{
  padding: 10px 30px;
  background-color: #e9f9fe;
  margin: 20px;
  color: white;
  box-shadow: -inset 0.4px 0.4px 1px rgba(0,0,0,0.3);
}
.cardTitle{
  padding: 5px;
  text-align: center;
}
h1{
  color: #006;
}
.message{
  font-size: 17px;
  padding: 5px 20px;
  text-align: center;
  position: relative;
}
.flex{
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}
.form{
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.remove{
  transform: rotate(0deg);
}